.signup-gender-radio input[type="radio"]{width: auto;margin-right: 10px}
.noti-area{position: relative}
.noti-area .alert{position: absolute;width: 100%;z-index: 99;text-align: center;}
.testimonial-row{margin: 40px 0;border-bottom: 1px solid #777777;padding: 0 10px}