<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (C) 2015 icotheme.com. All Rights Reserved.
 */
-->
<config>
    <modules>
        <IcoTheme_ColorSwatches>
            <version>1.0.0</version>
        </IcoTheme_ColorSwatches>
    </modules>

    <global>
        <blocks>
            <colorswatches>
                <class>IcoTheme_ColorSwatches_Block</class>
            </colorswatches>
        </blocks>
        <models>
            <colorswatches>
                <class>IcoTheme_ColorSwatches_Model</class>
                <resourceModel>colorswatches_resource</resourceModel>
            </colorswatches>
            <colorswatches_resource>
                <class>IcoTheme_ColorSwatches_Model_Resource</class>
            </colorswatches_resource>
        </models>
        <helpers>
            <colorswatches>
                <class>IcoTheme_ColorSwatches_Helper</class>
            </colorswatches>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <colorswatches module="IcoTheme_ColorSwatches">
                    <file>colorswatches.xml</file>
                </colorswatches>
            </updates>
        </layout>
        <translate>
            <modules>
                <IcoTheme_ColorSwatches>
                    <files>
                        <default>IcoTheme_ColorSwatches.csv</default>
                    </files>
                </IcoTheme_ColorSwatches>
            </modules>
        </translate>
        <events>
            <catalog_product_load_after>
                <observers>
                    <colorswatches>
                        <class>colorswatches/observer</class>
                        <method>productLoadAfter</method>
                    </colorswatches>
                </observers>
            </catalog_product_load_after>
            <catalog_block_product_list_collection>
                <observers>
                    <colorswatches>
                        <class>colorswatches/observer</class>
                        <method>productListCollectionLoadAfter</method>
                    </colorswatches>
                </observers>
            </catalog_block_product_list_collection>
            <catalog_product_attribute_backend_media_load_gallery_before>
                <observers>
                    <colorswatches>
                        <class>colorswatches/observer</class>
                        <method>loadChildProductImagesOnMediaLoad</method>
                    </colorswatches>
                </observers>
            </catalog_product_attribute_backend_media_load_gallery_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <colorswatches>
                        <class>colorswatches/observer</class>
                        <method>convertLayerBlock</method>
                    </colorswatches>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <product>
            <configurable>
                <child>
                    <attributes>
                        <image/>
                        <small_image/>
                        <image_label/>
                        <small_image_label/>
                    </attributes>
                </child>
            </configurable>
        </product>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <IcoTheme_ColorSwatches>
                    <files>
                        <default>IcoTheme_ColorSwatches.csv</default>
                    </files>
                </IcoTheme_ColorSwatches>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <colorswatches>
            <general>
                <enabled>0</enabled>
                <product_list_img_width>663</product_list_img_width>
                <product_list_img_height>700</product_list_img_height>
            </general>
            <product_detail_dimensions>
                <width>21</width>
                <height>21</height>
                <product_detail_img_width>360</product_detail_img_width>
                <product_detail_img_height>450</product_detail_img_height>
            </product_detail_dimensions>
            <product_listing_dimensions>
                <width>15</width>
                <height>15</height>
            </product_listing_dimensions>
            <layered_nav_dimensions>
                <width>15</width>
                <height>15</height>
            </layered_nav_dimensions>
        </colorswatches>
    </default>
</config>
