<?xml version="1.0"?>
<!--
/**
 * @copyright    Copyright (C) 2015 IcoTheme.com. All Rights Reserved.
 */
 -->
<config>
    <modules>
        <IcoTheme_Nletter>
            <version>1.0.0</version>
        </IcoTheme_Nletter>
    </modules>
    <global>
        <models>
            <nletter>
                <class>IcoTheme_Nletter_Model</class>
            </nletter>
        </models>
        <resources>
            <nletter_setup>
                <setup>
                    <module>IcoTheme_Nletter</module>
                </setup>
            </nletter_setup>
        </resources>
        <blocks>
            <nletter>
                <class>IcoTheme_Nletter_Block</class>
            </nletter>
        </blocks>
        <helpers>
            <nletter>
                <class>IcoTheme_Nletter_Helper</class>
            </nletter>
        </helpers>
    </global>
    <frontend>
        <routers>
            <nletter>
                <use>standard</use>
                <args>
                    <module>IcoTheme_Nletter</module>
                    <frontName>nletter</frontName>
                </args>
            </nletter>
        </routers>
        <layout>
            <updates>
                <nletter>
                    <file>icotheme_nletter.xml</file>
                </nletter>
            </updates>
        </layout>
        <translate>
            <modules>
                <nletter>
                    <files>
                        <default>IcoTheme_Nletter.csv</default>
                    </files>
                </nletter>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <nletter>
                <use>admin</use>
                <args>
                    <module>IcoTheme_Nletter</module>
                    <frontName>nletter</frontName>
                </args>
            </nletter>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nletter>
                    <file>icotheme_nletter.xml</file>
                </nletter>
            </updates>
        </layout>
        <translate>
            <modules>
                <nletter>
                    <files>
                        <default>IcoTheme_Nletter.csv</default>
                    </files>
                </nletter>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <nletter>
            <display_options>
                <enable>1</enable>
                <background_color>#FFFFFF</background_color>
                <background_image>newsletter.jpg</background_image>
                <intro><![CDATA[Subcribe to the PUROSHOP mailing list to receive update on    mnew arrivals, special offers and other discount information.]]></intro>
                <width>810</width>
                <height>365</height>
            </display_options>
        </nletter>
    </default>
</config>