<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright (C) 2015 icotheme.com. All Rights Reserved.
 */
 -->
<config>
    <modules>
        <IcoTheme_UltraMegamenu>
            <version>1.0.0</version>
        </IcoTheme_UltraMegamenu>
    </modules>
    <global>
        <models>
            <ultramegamenu>
                <class>IcoTheme_UltraMegamenu_Model</class>
            </ultramegamenu>
        </models>
        <blocks>
            <ultramegamenu>
                <class>IcoTheme_UltraMegamenu_Block</class>
            </ultramegamenu>
        </blocks>
        <helpers>
            <ultramegamenu>
                <class>IcoTheme_UltraMegamenu_Helper</class>
            </ultramegamenu>
        </helpers>
        <resources>
            <ultramegamenu_setup>
                <setup>
                    <module>IcoTheme_UltraMegamenu</module>
                    <class>IcoTheme_UltraMegamenu_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ultramegamenu_setup>
            <ultramegamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ultramegamenu_write>
            <ultramegamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ultramegamenu_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ultramegamenu>
                <use>standard</use>
                <args>
                    <module>IcoTheme_UltraMegamenu</module>
                    <frontName>ultramegamenu</frontName>
                </args>
            </ultramegamenu>
        </routers>
        <layout>
            <updates>
                <ultramegamenu>
                    <file>ico_ultramegamenu.xml</file>
                </ultramegamenu>
            </updates>
        </layout>
    </frontend>
    <default>
        <ultramegamenu>
            <display_options>
                <effect>slide</effect>
                <menuleft_effect>fade</menuleft_effect>
                <home>1</home>
                <enable_custom>0</enable_custom>
                <static_identifier>custom_menu</static_identifier>
                <show_if_no_children>0</show_if_no_children>
                <label1>New</label1>
                <label2>Hot!</label2>
                <url_key>about-magento-demo-store:right</url_key>
                <static_identifier>custom_menu:right</static_identifier>
            </display_options>
        </ultramegamenu>
    </default>
</config>